.banner
{
    transform: translate(0, 0, 0);
}
.img-wraper
{
    position: relative;
    height: 350px;
    overflow: hidden;
}
.img-banner
{
    margin: 0 -1px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}
.blog-titulo
{
    margin-left: auto;
    margin-right: auto;
    padding: 1px 20px;
    position: relative;
    min-width: 270px;
}
.p-figure
{
    margin-block-start: 1cm;
    margin-block-end: 1cm;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    position: absolute;
    padding-left: 43%;
    top: 170px;
    z-index: 10;
}
.user-avatar
{
    border: 4px solid rgb(255, 255, 255);
    background-size: 150px 150px;
    border-radius: 10px;
    display: block;
    height: 180px;
    width: 180px;
    position: relative;
    justify-content: center;
}
.tittle
{
    padding-top: 50px;
    width: auto;
}
.p-titulo
{
    font-weight: bold;
    font-size: 60px;
    margin: 40px 0 0;
    line-height: 1.2;
    text-align: center;
    color: white;
}
.descrippcion
{
    padding-left: 300px;
    padding-right: 300px;
    width: auto;
}
.p-descripcion
{
    font-size: 20px;
    margin: 40px 0 0;
    line-height: 1.2;
    text-align: center;
    color: white;
}
.p-container
{
    max-width: 77%;
    padding-left: 100px;
    padding-bottom: 100px;
    float: left;
}
.p-div
{
    height: 250px;
    width: 250px;
}
.p-img
{
    margin-top: 10px;
    float: left;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.p-ul
{
    display: flex;
    padding: 0px;
    flex-wrap: wrap;
    margin: -12px;
    list-style-type: none;
}
.p-li
{
    margin: 6px;
    height: fit-content;
    order: 1;
    align-items: center;
}
.p-posttitulo
{
    font-size: 20px;
    color: #ddd;
    font-weight: bold;
}
.p-friends
{
    width: 302px;
    overflow: hidden;
}
.p-friend
{   
    height: 90px;
    width: 90px;
}
.p-imgF
{
    float: left;
    width: 100%;
    height: 100%;
}
.p-ulF
{
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-bottom: 200px;
}
.p-liF
{
    margin: 5px;
    height: fit-content;
    order: 1;
    align-items: center;
}
.txtFriends
{
    color: white;
    text-align: center;
}
.FbtnMbtn
{
    position: absolute;
    top: 370px;
    right: 100px;
    z-index: 20;
}
.btnFollow
{
    background-color: #7f00d3;
    border: none;
    color: white;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 12px;
    cursor: pointer;
    border-radius: 30px;
}
.p-conn
{
    display: block;
    overflow: auto;
}

.p-busqueda{
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    flex-wrap: wrap;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.p-check{
margin-left: 10%;
margin-top: 10px;
margin-bottom: 10px;
}

.p-tag{
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white
    }



