.c-container
{
    padding-left: 300px;
    padding-right: 200px;
    display: block;
    overflow: auto;
}
.c-container .c-post
{
    background: rgb(22, 22, 22);
}
.c-post
{
    width: 1000px;
    float: left;
    border-radius: 10px;
    padding-bottom: 100px;
}
.c-img
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 800px;
}
.c-titulo
{
    padding-top: 30px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding-left: 50px;
}
.c-sub
{
    padding-top: 10px;
    color: white;
    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
}
.c-leavecomments
{
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    align-items: flex-end;
}
.c-avatar
{
    height: 64px;
    width: 64px;
    border-radius: 5px;
}
.c-cometario
{
    position: relative;
    border-radius: 10px;
    width: 500px;   
    height: 40px;
    left: 20px;
}
.c-btncmnt
{
    position: relative;
    background-color: #7f00d3;
    border: none;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 90px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    left: 23px;
    cursor: pointer;
    border-radius: 10px;
}
.c-comments
{
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
}
.c-comment
{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
    padding-right: 20px;
}
.c-datos
{
    position: relative;
    left: 20px;
    height: 50px;
    width: 300px;
}
.c-miusuario
{
    font-weight: bold;
    font-size: 20px;
    color: white;
}
.c-micomentario
{
    font-size: 15px;
    color: white;
}
.c-date
{
    color: rgb(153, 153, 153);
}
.c-info
{
    width: 400px;
    overflow: hidden;
    padding-left: 20px;
    padding-top: 50px;
}
.c-user
{
    position: relative;
    left: 100px;
    height: 500px
}
.c-avatarI
{
    height: 150px;
    width: 150px;
    border-radius: 15px;
}
.c-usuariotxt
{
    position: relative;
    top: 30px;
    color: white;
}
.c-btnF
{
    position: relative;
    top: 40px;
    right: 70px;
    background-color: #7f00d3;
    border: none;
    color: white;
    font-weight: bold;
    height: 35px;
    width: 250px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 20px;
    cursor: pointer;
    border-radius: 15px;
}
.c-btnEl
{
    position: relative;
    top: 40px;
    right: 70px;
    background-color:red;
    border: none;
    color: white;
    font-weight: bold;
    height: 35px;
    width: 250px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 20px;
    cursor: pointer;
    border-radius: 15px;
}

/* ---------------- */
.c-otros
{
    position: relative;
    padding-left: 100px;
    padding-bottom: 100px;
    max-width: max-content;
    top: 30px;
    left: 210px;
}   
.muestra
{
    height: 170px;
    width: 170px;
}
.p-ulO
{
    display: inline-flex;
    padding: 0px;
    margin: -12px;
    list-style-type: none;
    width: 1000px;
    overflow: scroll;
    overflow-y: hidden;
}
.p-liO
{
    margin: 6px;
    height: fit-content;
    order: 1;
    align-items: center;
}
.c-otrosIMG
{
    float: left;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

