  body, html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    overflow: hidden;
  }
  
  #section1 {
    height: 100%;
  }
  
  #section2 {
    height: 100%;
  }
  #section3 {
    height: 100%;
  }
.showcase
{
    height: 100%; 
}   
.page1
{
    background-image: url('../L/1.jpg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page2
{
    background-image: url('../L/2.jpg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page3
{
    background-image: url('../L/3.jpg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.control
{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    height: 70px;
    padding-left: 50px;
    padding-top: 400px;
}
.btn
{
    padding: 10px;
    margin: 5px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.5;
}

.login
{display: block;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  top: 40%;
  position: relative;
  background-clip: padding-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex: auto;
  max-width: 600px;
}

input[type=submit] {
  position: relative;
  background-color: #7f00d3;
  border: none;
  color: white;
  font-weight: bold;
  height: 40px;
  width: 120px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  right: 250px;
  cursor: pointer;
  border-radius: 10px;
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.texto {
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.col-25 {
  float: left;
  width: 20%;
  margin-left: 20px;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}

.col-75 {
  float: left;
  width: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text{
  color:  #7f00d3;
}

.info{
  overflow: hidden;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  top: 40%;
  position: relative;
  background-clip: padding-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex: auto;
  max-width: 600px;
}
.about{
  font-size: 100px;
  Color: black;
  -webkit-text-stroke: .5px cadetblue;
}