
.container {
    margin-left: 40%;
    margin-right: 40%;
}

.contenedor {
    width: 100%;
    height: 670px;
    border-style: dashed;
    border-color: white;
    border-width: 5px;
    margin-bottom: 50px;
}

.imagen {
    width: 100%;
}

.btn {
    margin-top: 15px;
    margin-left: 40%;
    margin-right: 40%;
    width: 80px;
    height: 40px;
    font-size: 20px;
}